@import "tailwindcss";
@import "@nuxt/ui";

@layer components {
	body {
		@apply bg-[var(--background-100)] text-[var(--text-900)] font-sans leading-relaxed;
		margin: 0;
		padding: 0;
		/* cursor: url("/wiicursor.png"), auto; */
	}

	.container {
		@apply max-w-4xl mx-auto px-4;
	}

	header,
	footer {
		@apply bg-[var(--primary-500)] text-[var(--text-50)];
	}

	header {
		@apply mb-8;
	}

	footer {
		@apply mt-8;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-[var(--text-900)] font-bold;
	}

	h1 {
		@apply text-4xl mt-8 mb-4;
	}

	h2 {
		@apply text-3xl mt-6 mb-3;
	}

	h3 {
		@apply text-2xl mt-5 mb-2;
	}

	h4 {
		@apply text-xl mt-4 mb-2;
	}

	h5 {
		@apply text-lg mt-3 mb-1;
	}

	h6 {
		@apply text-base mt-2 mb-1;
	}

	p {
		@apply mb-4;
	}
	/* help */
	a {
		text-decoration: underline;
		color: var(--primary-500);
	}
	a:hover {
		color: var(--secondary-500);
	}
	ul,
	ol {
		@apply mb-4 pl-5;
	}

	li {
		@apply mb-2;
	}

	blockquote {
		@apply border-l-4 border-[var(--primary-500)] pl-4 italic mb-4;
	}

	ul {
		list-style-type: disc;
	}

	ul ul {
		list-style-type: circle;
	}

	ul ul ul {
		list-style-type: square;
	}

	ol {
		list-style-type: none;
	}

	code:not(pre code) {
		@apply bg-[var(--background-200)] text-[var(--text-800)] px-1.5 py-0.5 rounded text-sm font-mono;
	}

	pre:has(code) {
		max-width: 100vw;
		overflow: scroll;
		scrollbar-width: none;
		background-color: var(--code-bg-color);
		@apply p-4 rounded-3xl;
	}

	pre:has(code)::-webkit-scrollbar {
		display: none;
	}

	@media (prefers-color-scheme: dark) {
		pre {
			@apply bg-[var(--background-700)] text-[var(--text-200)];
		}

		.copy-button {
			@apply bg-[var(--background-600)] text-[var(--text-300)]
			hover:bg-[var(--background-500)] hover:text-[var(--text-100)];
		}
	}

	img {
		@apply max-w-full h-auto mb-4;
	}

	table {
		@apply w-full mb-4 border-collapse;
	}

	th,
	td {
		@apply border border-[var(--text-300)];
	}

	th {
		@apply bg-[var(--primary-500)] text-[var(--text-50)];
	}

	hr {
		@apply border-t border-[var(--text-300)] my-8;
	}

	.bg-primary {
		@apply bg-[var(--primary-500)];
	}

	.bg-secondary {
		@apply bg-[var(--secondary-500)];
	}

	.text-primary {
		@apply text-[var(--primary-500)];
	}

	.text-secondary {
		@apply text-[var(--secondary-500)];
	}
}
